<!DOCTYPE html>
<html lang="en" ng-app="kanbanBoard">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="ng-cloak">
<div ng-controller="kanbanBoardController"></div>
<div class="container-fluid">
    <header class="row header">
        <div class="col-md-3">
            <i class="fa fa-bar-chart char-btn" ng-click="charsOpen = !charsOpen" ng-init="charsOpen = false"></i>
        </div>
        <div class="col-md-9">
            <h2>Kandan board</h2>
        </div>
    </header>
    <div class="row chars-wrap" ng-show="charsOpen">
        <div class="col-md-6" ng-controller="CompareChartCtrl">
            <canvas id="bar" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
        </div>
        <div class="col-md-3" ng-controller="EstimatesChartCtrl">
            <h3>Estimates</h3>
            <canvas id="pie2" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-legend="true"></canvas>
        </div>
        <div class="col-md-3" ng-controller="FactTimeChartCtrl">
            <h3>Fact time</h3>
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-legend="true"></canvas>
        </div>
    </div>
    <div class="row" ng-controller="kanbanBoardController">
        <div class="col-md-3" ng-repeat="column in columns" dnd-list="column.sheets">
            <label class="estimate-wrap">Estimate: <input type="number" value="{{column.estimate}}" min="0"></label>
            <div class="column">
                <h1 class="column-title">{{ column.title }}</h1>
                <ul dnd-list="column.sheets">
                    <sheet-item sheet-data="column"></sheet-item>
                </ul>
                <button ng-click="column.addSheet()" class="btn btn-primary" ng-show="column.editable">
                    <i class="glyphicon glyphicon-plus"></i> Add list
                </button>
            </div>
        </div>
        <div class="col-md-3" dnd-list="trash.sheets">
            <div class="fake-estimate"></div>
            <div class="column">
                <h1 class="column-title">{{ trash.title }}</h1>
                <div>In thrash {{ trash.sheets.length }} sheets</div>
                <div ng-show="trash.sheets.length > 0">
                    <button class="btn btn-primary"
                            ng-click="trash.toggleVisibleSheets()">Show Sheets
                    </button>
                    <button class="btn btn-primary" ng-click="trash.removeAllSheets()">
                        <i class="glyphicon glyphicon-trash"></i> Remove all
                    </button>
                </div>
                <ul dnd-list="trash.sheets" ng-show="trash.visibleSheets">
                    <sheet-item sheet-data="trash"></sheet-item>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="angular-contenteditable.js"></script>
<script src="main.js"></script>
<script src="directives/sheet.js"></script>
<script src="controllers/kanbanBoardController.js"></script>
<script src="controllers/CompareChartCtrl.js"></script>
<script src="controllers/EstimatesChartCtrl.js"></script>
<script src="controllers/FactTimeChartCtrl.js"></script>
<script src="services/columnsService.js"></script>
</body>
</html>