<li class="sheet"
         ng-repeat="sheet in sheetData.sheets"
         dnd-draggable="sheet"
         dnd-effect-allowed="move"
         dnd-moved="sheetData.sheets.splice($index, 1)"
         dnd-selected="models.selected = sheet"
         ng-class="{'selected': models.selected === sheet}">
    <i class="glyphicon  edit-sheet-icon"
       ng-class="{'glyphicon-edit text-primary': !sheet.sheetEditable,'glyphicon-ok text-success': sheet.sheetEditable}"
       ng-click="sheet.sheetEditable = !sheet.sheetEditable;">
    </i>
    <i class="glyphicon glyphicon-remove remove-sheet text-danger"
       ng-click="sheetData.sheets.splice($index, 1);">
    </i>
    <p ng-class="{'edite-mode': sheet.sheetEditable}"
       ng-dblclick="sheet.sheetEditable = !sheet.sheetEditable;"
       contenteditable="{{sheet.sheetEditable}}"
       class="field sheet-content"
       ng-model="sheet.title">
    </p>
    <p ng-class="{'edite-mode': sheet.sheetEditable}"
       ng-dblclick="sheet.sheetEditable = !sheet.sheetEditable;"
       contenteditable="{{sheet.sheetEditable}}"
       class="field sheet-content"
       ng-model="sheet.content">
    </p>
    <p ng-class="{'edite-mode': sheet.sheetEditable}"
       ng-dblclick="sheet.sheetEditable = !sheet.sheetEditable;"
       contenteditable="{{sheet.sheetEditable}}"
       class="field sheet-content"
       ng-model="sheet.timeSpend[sheetData.slug]">
    </p>
</li>