[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    padding: 10px;
    color: #0f0f0f;
}

* {
    outline: none;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

.column {
    min-height: 95vh !important;
    padding: 10px;
    background: #F1F1F1;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.column-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
}

h1, p {
    padding-bottom: 5px;
    border-bottom: 3px solid #3eaef6;
}

.text-center {
    text-align: center;
}

.sheet {
    margin: 10px;
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    background: #FBFBFB;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"] {
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid #8AD1FF;
}

.sheet-title {
    font-size: 24px;
    color: #212121;
}

.sheet-content {
    font-size: 18px;
    color: #212121;
}

.edit-sheet-icon {
    position: absolute !important;
    right: 35px;
    top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
}

.remove-sheet {
    position: absolute !important;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
}


.sheet .field:focus {
    border-color: #3eaef6;
}

.edite-mode {
    border-bottom: 2px dashed #8AD1FF;
}

.add-sheet {
    background: #84DCFF;
    border: none;
    display: block;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-size: 16px;
}

.dndDragover .column, .dndDragover.column {
    border-style: dashed;
    border-color: #3eaef6;
    background: #d9edf7;
}

ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

.sheet {
    position: relative;
}

.sheet p {
    min-height: 20px;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.dndPlaceholder {
    list-style-type: none;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #84DCFF;
    min-height: 40px;
    border: 2px dashed #3eaef6;
}


.char-btn {
    font-size: 40px;
    cursor: pointer;
}

.header {
    margin-bottom: 10px;
}

.header h2 {
    margin: 0;
}

.estimate-wrap {
    font-weight: 300;
    font-size: 16px;
}

.estimate-wrap input[type="number"] {
    height: 22px;
    border: none;
    border-bottom: 2px solid #3eaef6;
    background: transparent;
}

.fake-estimate {
    height: 22px;
}